
h1{
    color:rgb(196, 46, 46);
}

.carousel-item{
	display: flex;

}
.conteudo-2{
    
    padding-left: 20px;
    width:750px;
    height: 300px;
}
.conteudo-3{
    
    padding-left: 20px;
    width:750px;
    height: 300px;
}
.conteudo-4{
  
    padding-left: 20px;
    width:750px;
    height: 300px;
}

