header{
    height: 55px;
    font-size: 40px;

}
 
.nav-bar{
    font-size: 20px!important;
    display: inline-block;
    
}

.nav-bar li{
    list-style: none;
}
 hr{
    background-color: rgb(133, 157, 202);
    height: 2px;
 }