img{
    width: 100px;
    height: 35px;
}
h1{



    color:rgb(196, 46, 46);



}




.btn-verde{

    background-color:rgb(63, 238, 47) ;

    border-color: rgb(63, 238, 47) ;

}



.btn-vermelho{

    background-color:rgb(196, 46, 46) ;

    border-color: rgb(196, 46, 46) ;

}



.fieldset{

    border-color: rgb(196, 46, 46) ;

}



.legenda{

    color:rgb(196, 46, 46);

}

.btn-ligar{

    color:rgb(196, 46, 46) ;

    border-color: rgb(196, 46, 46) ;

}

.btn-papo{

    color:rgb(196, 46, 46) ;

    border-color: rgb(196, 46, 46) ;


}

.border-left{
    width: 50%;

    float:left;

}
.border-right{
    
    width: 50%;

    float:right;

}
area-upload{
	box-shadow: 0 5px 20px rgba(0,0,0,.2);
	margin: 20px auto;
	padding: 20px;
	box-sizing: border-box;
	
	width: 100%;
	max-width: 700px;
	position: relative;
}

.area-upload label.label-upload{
	border: 2px dashed rgb(196, 46, 46);
	min-height: 200px;
	text-align: center;
	width: 50%;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	color:rgb(196, 46, 46) ;
	position: relative;
	
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

.area-upload label.label-upload.highlight{
	background-color: #fffdaa;
}

.area-upload label.label-upload *{
	pointer-events: none;
}

